body
{
    background-color: #f7f7f7;
}
.custom-padding {
    padding: 35px;  
}
.spinner-border {
    display: none; /* Hide spinner initially */
}
.hover-underline {
    text-decoration: none; /* Remove default underline */
}
.hover-underline:hover {
    text-decoration: underline; /* Add underline on hover */
}
